@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:ital@1&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --gray: #757575;
    --orange: #FF4C15;
    --blue: #0000FF;
    --lightgray: #D3D3D3;
}

body {
    background-image: url('https://images.unsplash.com/photo-1506929562872-bb421503ef21?q=80&w=1968&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    width: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0px 50px;
}

.left-header {
    display: flex;
    gap: 1rem;
}

.left-header a {
    font-size: larger;
    cursor: pointer;
    font-weight: bolder;
}

.left-header i {
    color: var(--orange);
    font-weight: bolder;
    font-size: larger;
}

.right-header {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    font-size: larger;
    font-weight: bolder;
    align-items: center;
}
#menu-bar{
    width: fit-content;
    align-self: right;
}
#menu-bar:hover{
    cursor: pointer;
    color: var(--orange);
    transform: scale(1.1);
}
.right-menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.right-header a:hover {
    cursor: pointer;
    color: var(--orange);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--orange);
    border-bottom: 0.5px dotted var(--white);
    transition: all 0.1s ease-in-out;
}

.text-content h2 {
    font-size: 50px;
    font-family: cursive;
    line-height: 80px;
    padding-left: 30px;
    font-weight: bolder;
}

.text-content {
    margin: 20px;
    margin-left: 30px;
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 1rem;
}

.text-content a:hover {
    color: var(--orange);
}

.text-content p {
    max-width: 50%;
    text-align: left;
    margin-left: 30px;
    font-size: 22px;
    border-radius: 10px;
    color: var(--white);
    padding: 10px;
    font-weight: bolder;
    background-blend-mode:  screen;
    box-shadow: inset 0 0 2px var(--orange),
                inset 0 0 2px var(--black);
    backdrop-filter: blur(1px);
}

.btn-div {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin: 20px;
}

#Explore-btn,
#learn-more-btn {
    background-color: var(--orange);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#learn-more-btn {
    background-color: transparent;
    border: 2px solid var(--orange);
    box-shadow: 2px 0px 5px var(--orange);
    color: var(--white);
}

#learn-more-btn:hover {
    cursor: pointer;
    color: var(--orange);
    border: 2px solid var(--white);
    box-shadow: 1px 0px 5px var(--white);
    background-color: var(--black);
    transform: scaleY(1.01);
    transition: all 0.2s ease-in-out;
}

#Explore-btn:hover {
    cursor: pointer;
    color: var(--orange);
    border: 2px solid var(--white);
    box-shadow: 1px 0px 5px var(--white);
    background-color: var(--black);
    transform: scaleX(1.01);
    transition: all 0.2s ease-in-out;
}

.hero-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.from-to-div,
.trip-div,
.depart-return-div,
.class-div {
    background-color: var(--black);
    color: var(--white);
    padding: 15px 20px;
    border-radius: 10px;
    width: 20%;
}

.hero-bottom i:hover {
    color: var(--orange);
}

.from-to-div:hover,
.trip-div:hover,
.depart-return-div:hover,
.class-div:hover {
    filter: brightness(90%);
    cursor: pointer;
    transform: scaleX(1.02);
    transition: all 0.1s ease-in-out;
}

.gray-text {
    color: var(--gray);
    margin: 5px 0px;
}

.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.show-trip-div {
    display: flex;
    justify-content: flex-end;
    margin: 50px;
    gap: 1rem;
}

#promo-btn,
#show-trip-btn {
    padding: 10px 20px;
    color: var(--blue);
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

#promo-btn:hover,
#show-trip-btn:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 1px 10px var(--white);
    transition: all 0.1s ease-in-out;
    transform: scaleY(1.02);
    filter: brightness(90%);
}
footer p{
    text-align: center;
}

/* media queries */
@media only screen and (min-width: 740px) and (max-width:1030px) {
    body{
        height: 100vh;
    }
    .right-header {
        display: none;
    }

    .hero-bottom {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .from-to-div,
    .trip-div,
    .depart-return-div,
    .class-div {
        font-size: small;
        float: left;
        width: 20%;
        margin-left: 15px;
    }

    .flex-div {
        flex-direction: column;
        gap: 0.5rem;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 480px) and (max-width: 740px) {
    body{
        height: auto;
    }
    .right-header {
        display: none;
    }

    .hero-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .from-to-div,
    .trip-div,
    .depart-return-div,
    .class-div {
        font-size: x-small;
        float: center;
        width: 80%;
        margin: 10px;
    }

    .flex-div {
        flex-direction: column;
        /* gap: 01rem; */
        justify-content: space-around;
        font-size: smaller;
    }

    .text-content {
        align-items: center;
    }

    .text-content h2 {
        text-align: center;
        font-size: 36px;
        line-height: normal;
    }

    .text-content p {
        font-size: larger;
        margin: 0px;
        width: 90%;
    }

    .show-trip-div {
        gap: 0rem;
    }

    #promo-btn,
    #show-trip-btn {
        margin: auto;
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .right-header {
        display: none;
    }

    .hero-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .from-to-div,
    .trip-div,
    .depart-return-div,
    .class-div {
        font-size: x-small;
        float: center;
        width: 80%;
        margin: 10px;
    }

    .flex-div {
        flex-direction: column;
        /* gap: 01rem; */
        justify-content: space-around;
        font-size: smaller;
    }

    .text-content {
        align-items: center;
        margin: 0;
    }

    .text-content h2 {
        text-align: center;
        font-size: 36px;
        line-height: normal;
    }

    .text-content p {
        font-size: larger;
        margin: 0px;
        width: 100%;
    }

    .show-trip-div {
        gap: 0rem;
    }

    #promo-btn,
    #show-trip-btn {
        margin: 10px;
        padding: 4px;
    }
}